In [1]:
import pandas as pd

In [2]:
df_clean3 = pd.read_csv('imdb_cleaned.csv')

,title,year,rated,runtime,genre,director,actors,plot,country,awards,...,imdb_id,languages,budget_M,US_CA_revenue_M,release_date,wins,nominations,aggregated_score,cumulative_worldwide_gross,main_genre
0,Creed III,2023,PG,116.0,"['[""[\'Action\'""', '""\'Drama\'""', '""\'Sport\']...",Michael B. Jordan,"Michael B. Jordan, Tessa Thompson, Jonathan Ma...",Adonis has been thriving in both his career an...,"['[""[\'United States\']""]']",28 nominations,...,tt11145118,English,75.0,271.62,2023-03-02,0,28,7.0,276.15,"[""['Action'"""
1,Avatar: The Way of Water,2022,PG,192.0,"['[""[\'Action\'""', '""\'Adventure\'""', '""\'Fant...",James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",Jake Sully lives with his newfound family form...,"['[""[\'United States\']""]']",Won 1 Oscar. 75 wins & 150 nominations total,...,tt1630029,English,460.0,2316.79,2022-12-15,76,150,7.1,2320.25,"[""['Action'"""
2,The Super Mario Bros. Movie,2023,PG,92.0,"['[""[\'Animation\'""', '""\'Adventure\'""', '""\'C...",Aaron Horvath,"Chris Pratt, Anya Taylor-Joy, Charlie Day",A plumber named Mario travels through an under...,"['[""[\'United States\'""', ' "" \' Japan\']""]']",2 wins & 47 nominations,...,tt6718170,English,100.0,724.46,2023-04-05,2,47,5.8,1361.99,"[""['Animation'"""
3,Mummies,2023,PG,88.0,"['[""[\'Animation\'""', '""\'Adventure\'""', '""\'C...",Juan Jesús García Galocha,"Óscar Barberán, Ana Esther Alborg, Luis Reina",It follows three mummies as they end up in pre...,"['[""[\'Spain\'""', ' "" \' United States\']""]']",3 nominations,...,tt23177868,"Spanish, Castilian",12.3,34.20,2023-01-05,0,3,5.9,54.48,"[""['Animation'"""
4,Supercell,2023,PG,100.0,"['[""[\'Action\'""', '""\'Adventure\'""', '""\'Dram...",Herbert James Winterstern,"Skeet Ulrich, Anne Heche, Daniel Diemer",A teenage boy runs away to follow in the foots...,"['[""[\'United States\']""]']",3 wins & 1 nomination,...,tt10559102,English,77.0,340.94,2023-03-17,3,1,4.4,0.07,"[""['Action'"""

In [3]:
df_clean3['genre']

0       ['["[\'Action\'"', '"\'Drama\'"', '"\'Sport\']...
1       ['["[\'Action\'"', '"\'Adventure\'"', '"\'Fant...
2       ['["[\'Animation\'"', '"\'Adventure\'"', '"\'C...
3       ['["[\'Animation\'"', '"\'Adventure\'"', '"\'C...
4       ['["[\'Action\'"', '"\'Adventure\'"', '"\'Dram...
                              ...
7090    ['["[\'Comedy\'"', '"\'Romance\'"', '"\'Sport\...
7091    ['["[\'Animation\'"', '"\'Action\'"', '"\'Adve...
7092                  ['["[\'Comedy\'"', '"\'Drama\']"]']
7093    ['["[\'Action\'"', '"\'Crime\'"', '"\'Horror\'...
7094    ['["[\'Animation\'"', '"\'Adventure\'"', '"\'C...
Name: genre, Length: 7095, dtype: object

In [4]:
# Turn "genre" column into a list of strings
df_clean3["genre"] = df_clean3['genre'].str.split(',').apply(lambda x: [genre.strip() for genre in x] if isinstance(x, list) else x)
df_clean3["genre"]

0       [['["[\'Action\'"', '"\'Drama\'"', '"\'Sport\'...
1       [['["[\'Action\'"', '"\'Adventure\'"', '"\'Fan...
2       [['["[\'Animation\'"', '"\'Adventure\'"', '"\'...
3       [['["[\'Animation\'"', '"\'Adventure\'"', '"\'...
4       [['["[\'Action\'"', '"\'Adventure\'"', '"\'Dra...
                              ...
7090    [['["[\'Comedy\'"', '"\'Romance\'"', '"\'Sport...
7091    [['["[\'Animation\'"', '"\'Action\'"', '"\'Adv...
7092                [['["[\'Comedy\'"', '"\'Drama\']"]']]
7093    [['["[\'Action\'"', '"\'Crime\'"', '"\'Horror\...
7094    [['["[\'Animation\'"', '"\'Adventure\'"', '"\'...
Name: genre, Length: 7095, dtype: object

In [5]:
df_clean3['main_genre'] = df_clean3['genre'].apply(lambda x: x[0] if isinstance(x, list) else x)

In [6]:
df_clean3['main_genre']

0          ['["[\'Action\'"'
1          ['["[\'Action\'"'
2       ['["[\'Animation\'"'
3       ['["[\'Animation\'"'
4          ['["[\'Action\'"'
                ...
7090       ['["[\'Comedy\'"'
7091    ['["[\'Animation\'"'
7092       ['["[\'Comedy\'"'
7093       ['["[\'Action\'"'
7094    ['["[\'Animation\'"'
Name: main_genre, Length: 7095, dtype: object

In [7]:
df_clean3.head()

,title,year,rated,runtime,genre,director,actors,plot,country,awards,...,imdb_id,languages,budget_M,US_CA_revenue_M,release_date,wins,nominations,aggregated_score,cumulative_worldwide_gross,main_genre
0,Creed III,2023,PG,116.0,"[['[""[\'Action\'""', '""\'Drama\'""', '""\'Sport\'...",Michael B. Jordan,"Michael B. Jordan, Tessa Thompson, Jonathan Ma...",Adonis has been thriving in both his career an...,"['[""[\'United States\']""]']",28 nominations,...,tt11145118,English,75.0,271.62,2023-03-02,0,28,7.0,276.15,"['[""[\'Action\'""'"
1,Avatar: The Way of Water,2022,PG,192.0,"[['[""[\'Action\'""', '""\'Adventure\'""', '""\'Fan...",James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",Jake Sully lives with his newfound family form...,"['[""[\'United States\']""]']",Won 1 Oscar. 75 wins & 150 nominations total,...,tt1630029,English,460.0,2316.79,2022-12-15,76,150,7.1,2320.25,"['[""[\'Action\'""'"
2,The Super Mario Bros. Movie,2023,PG,92.0,"[['[""[\'Animation\'""', '""\'Adventure\'""', '""\'...",Aaron Horvath,"Chris Pratt, Anya Taylor-Joy, Charlie Day",A plumber named Mario travels through an under...,"['[""[\'United States\'""', ' "" \' Japan\']""]']",2 wins & 47 nominations,...,tt6718170,English,100.0,724.46,2023-04-05,2,47,5.8,1361.99,"['[""[\'Animation\'""'"
3,Mummies,2023,PG,88.0,"[['[""[\'Animation\'""', '""\'Adventure\'""', '""\'...",Juan Jesús García Galocha,"Óscar Barberán, Ana Esther Alborg, Luis Reina",It follows three mummies as they end up in pre...,"['[""[\'Spain\'""', ' "" \' United States\']""]']",3 nominations,...,tt23177868,"Spanish, Castilian",12.3,34.20,2023-01-05,0,3,5.9,54.48,"['[""[\'Animation\'""'"
4,Supercell,2023,PG,100.0,"[['[""[\'Action\'""', '""\'Adventure\'""', '""\'Dra...",Herbert James Winterstern,"Skeet Ulrich, Anne Heche, Daniel Diemer",A teenage boy runs away to follow in the foots...,"['[""[\'United States\']""]']",3 wins & 1 nomination,...,tt10559102,English,77.0,340.94,2023-03-17,3,1,4.4,0.07,"['[""[\'Action\'""'"

In [8]:
df_clean3['director'] = df_clean3['director'].str.split(',').apply(lambda x: x[0] if isinstance(x, list) else x)
df_clean3['director']

0               Michael B. Jordan
1                   James Cameron
2                   Aaron Horvath
3       Juan Jesús García Galocha
4       Herbert James Winterstern
                  ...
7090               Marco Schnabel
7091             Yasuto Nishikata
7092                   Mike Mills
7093                 Bradford May
7094                 Richard Rich
Name: director, Length: 7095, dtype: object

In [9]:
df_clean3.head()

,title,year,rated,runtime,genre,director,actors,plot,country,awards,...,imdb_id,languages,budget_M,US_CA_revenue_M,release_date,wins,nominations,aggregated_score,cumulative_worldwide_gross,main_genre
0,Creed III,2023,PG,116.0,"[['[""[\'Action\'""', '""\'Drama\'""', '""\'Sport\'...",Michael B. Jordan,"Michael B. Jordan, Tessa Thompson, Jonathan Ma...",Adonis has been thriving in both his career an...,"['[""[\'United States\']""]']",28 nominations,...,tt11145118,English,75.0,271.62,2023-03-02,0,28,7.0,276.15,"['[""[\'Action\'""'"
1,Avatar: The Way of Water,2022,PG,192.0,"[['[""[\'Action\'""', '""\'Adventure\'""', '""\'Fan...",James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",Jake Sully lives with his newfound family form...,"['[""[\'United States\']""]']",Won 1 Oscar. 75 wins & 150 nominations total,...,tt1630029,English,460.0,2316.79,2022-12-15,76,150,7.1,2320.25,"['[""[\'Action\'""'"
2,The Super Mario Bros. Movie,2023,PG,92.0,"[['[""[\'Animation\'""', '""\'Adventure\'""', '""\'...",Aaron Horvath,"Chris Pratt, Anya Taylor-Joy, Charlie Day",A plumber named Mario travels through an under...,"['[""[\'United States\'""', ' "" \' Japan\']""]']",2 wins & 47 nominations,...,tt6718170,English,100.0,724.46,2023-04-05,2,47,5.8,1361.99,"['[""[\'Animation\'""'"
3,Mummies,2023,PG,88.0,"[['[""[\'Animation\'""', '""\'Adventure\'""', '""\'...",Juan Jesús García Galocha,"Óscar Barberán, Ana Esther Alborg, Luis Reina",It follows three mummies as they end up in pre...,"['[""[\'Spain\'""', ' "" \' United States\']""]']",3 nominations,...,tt23177868,"Spanish, Castilian",12.3,34.20,2023-01-05,0,3,5.9,54.48,"['[""[\'Animation\'""'"
4,Supercell,2023,PG,100.0,"[['[""[\'Action\'""', '""\'Adventure\'""', '""\'Dra...",Herbert James Winterstern,"Skeet Ulrich, Anne Heche, Daniel Diemer",A teenage boy runs away to follow in the foots...,"['[""[\'United States\']""]']",3 wins & 1 nomination,...,tt10559102,English,77.0,340.94,2023-03-17,3,1,4.4,0.07,"['[""[\'Action\'""'"

In [10]:
df_clean3.columns

Index(['title', 'year', 'rated', 'runtime', 'genre', 'director', 'actors',
       'plot', 'country', 'awards', 'metascore', 'imdb_rating', 'imdb_votes',
       'imdb_id', 'languages', 'budget_M', 'US_CA_revenue_M', 'release_date',
       'wins', 'nominations', 'aggregated_score', 'cumulative_worldwide_gross',
       'main_genre'],
      dtype='object')

In [11]:
df_clean3['country'] = df_clean3['country'].str.split(',')
df_clean3['country']

0                           [['["[\'United States\']"]']]
1                           [['["[\'United States\']"]']]
2        [['["[\'United States\'"',  ' " \' Japan\']"]']]
3        [['["[\'Spain\'"',  ' " \' United States\']"]']]
4                           [['["[\'United States\']"]']]
                              ...
7090    [['["[\'United Kingdom\'"',  ' " \' Germany\'"...
7091                                [['["[\'Japan\']"]']]
7092                        [['["[\'United States\']"]']]
7093              [['["[\'USA\'"',  ' " \' Canada\']"]']]
7094                        [['["[\'United States\']"]']]
Name: country, Length: 7095, dtype: object

In [12]:
df_clean3.head()

,title,year,rated,runtime,genre,director,actors,plot,country,awards,...,imdb_id,languages,budget_M,US_CA_revenue_M,release_date,wins,nominations,aggregated_score,cumulative_worldwide_gross,main_genre
0,Creed III,2023,PG,116.0,"[['[""[\'Action\'""', '""\'Drama\'""', '""\'Sport\'...",Michael B. Jordan,"Michael B. Jordan, Tessa Thompson, Jonathan Ma...",Adonis has been thriving in both his career an...,"[['[""[\'United States\']""]']]",28 nominations,...,tt11145118,English,75.0,271.62,2023-03-02,0,28,7.0,276.15,"['[""[\'Action\'""'"
1,Avatar: The Way of Water,2022,PG,192.0,"[['[""[\'Action\'""', '""\'Adventure\'""', '""\'Fan...",James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",Jake Sully lives with his newfound family form...,"[['[""[\'United States\']""]']]",Won 1 Oscar. 75 wins & 150 nominations total,...,tt1630029,English,460.0,2316.79,2022-12-15,76,150,7.1,2320.25,"['[""[\'Action\'""'"
2,The Super Mario Bros. Movie,2023,PG,92.0,"[['[""[\'Animation\'""', '""\'Adventure\'""', '""\'...",Aaron Horvath,"Chris Pratt, Anya Taylor-Joy, Charlie Day",A plumber named Mario travels through an under...,"[['[""[\'United States\'""', ' "" \' Japan\']""]']]",2 wins & 47 nominations,...,tt6718170,English,100.0,724.46,2023-04-05,2,47,5.8,1361.99,"['[""[\'Animation\'""'"
3,Mummies,2023,PG,88.0,"[['[""[\'Animation\'""', '""\'Adventure\'""', '""\'...",Juan Jesús García Galocha,"Óscar Barberán, Ana Esther Alborg, Luis Reina",It follows three mummies as they end up in pre...,"[['[""[\'Spain\'""', ' "" \' United States\']""]']]",3 nominations,...,tt23177868,"Spanish, Castilian",12.3,34.20,2023-01-05,0,3,5.9,54.48,"['[""[\'Animation\'""'"
4,Supercell,2023,PG,100.0,"[['[""[\'Action\'""', '""\'Adventure\'""', '""\'Dra...",Herbert James Winterstern,"Skeet Ulrich, Anne Heche, Daniel Diemer",A teenage boy runs away to follow in the foots...,"[['[""[\'United States\']""]']]",3 wins & 1 nomination,...,tt10559102,English,77.0,340.94,2023-03-17,3,1,4.4,0.07,"['[""[\'Action\'""'"

In [13]:
#df_clean3.to_csv('imdb_cleaned.csv', index=False)

In [14]:
df_clean3.year.unique()

array([2023, 2022, 2004, 2017, 2019, 2009, 2014, 2021, 2018, 2015, 2016,
       2020, 2005, 2001, 2002, 2012, 2010, 2007, 2011, 2008, 2003, 1995,
       1997, 2006, 2013, 1998, 2000, 1999, 1996])

In [15]:
df_clean3.release_date.unique()

array(['2023-03-02', '2022-12-15', '2023-04-05', ..., '2016-12-28',
       '1995-07-11', '2020-07-20'], dtype=object)

In [16]:
df_clean3.year = df_clean3.release_date.apply(lambda x: x.split("-")[0] if isinstance(x, str) else x)

In [17]:
df_clean3.year.unique()

array(['2023', '2022', '2004', '2017', '2019', '2009', '2014', '2021',
       '2018', '2015', '2016', '2020', '2005', '2001', '2002', '2012',
       '2010', '2007', '2011', '2008', '2003', '1995', '1997', '2006',
       '2013', '1998', '2000', '1999', '1996'], dtype=object)

In [18]:
#df_clean3.to_csv('imdb_cleaned.csv', index=False)

In [19]:
df_clean3.head()

,title,year,rated,runtime,genre,director,actors,plot,country,awards,...,imdb_id,languages,budget_M,US_CA_revenue_M,release_date,wins,nominations,aggregated_score,cumulative_worldwide_gross,main_genre
0,Creed III,2023,PG,116.0,"[['[""[\'Action\'""', '""\'Drama\'""', '""\'Sport\'...",Michael B. Jordan,"Michael B. Jordan, Tessa Thompson, Jonathan Ma...",Adonis has been thriving in both his career an...,"[['[""[\'United States\']""]']]",28 nominations,...,tt11145118,English,75.0,271.62,2023-03-02,0,28,7.0,276.15,"['[""[\'Action\'""'"
1,Avatar: The Way of Water,2022,PG,192.0,"[['[""[\'Action\'""', '""\'Adventure\'""', '""\'Fan...",James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",Jake Sully lives with his newfound family form...,"[['[""[\'United States\']""]']]",Won 1 Oscar. 75 wins & 150 nominations total,...,tt1630029,English,460.0,2316.79,2022-12-15,76,150,7.1,2320.25,"['[""[\'Action\'""'"
2,The Super Mario Bros. Movie,2023,PG,92.0,"[['[""[\'Animation\'""', '""\'Adventure\'""', '""\'...",Aaron Horvath,"Chris Pratt, Anya Taylor-Joy, Charlie Day",A plumber named Mario travels through an under...,"[['[""[\'United States\'""', ' "" \' Japan\']""]']]",2 wins & 47 nominations,...,tt6718170,English,100.0,724.46,2023-04-05,2,47,5.8,1361.99,"['[""[\'Animation\'""'"
3,Mummies,2023,PG,88.0,"[['[""[\'Animation\'""', '""\'Adventure\'""', '""\'...",Juan Jesús García Galocha,"Óscar Barberán, Ana Esther Alborg, Luis Reina",It follows three mummies as they end up in pre...,"[['[""[\'Spain\'""', ' "" \' United States\']""]']]",3 nominations,...,tt23177868,"Spanish, Castilian",12.3,34.20,2023-01-05,0,3,5.9,54.48,"['[""[\'Animation\'""'"
4,Supercell,2023,PG,100.0,"[['[""[\'Action\'""', '""\'Adventure\'""', '""\'Dra...",Herbert James Winterstern,"Skeet Ulrich, Anne Heche, Daniel Diemer",A teenage boy runs away to follow in the foots...,"[['[""[\'United States\']""]']]",3 wins & 1 nomination,...,tt10559102,English,77.0,340.94,2023-03-17,3,1,4.4,0.07,"['[""[\'Action\'""'"

In [20]:
df_clean3["profit"] = df_clean3["cumulative_worldwide_gross"] - df_clean3["budget_M"]

In [21]:
df_clean3.head()

,title,year,rated,runtime,genre,director,actors,plot,country,awards,...,languages,budget_M,US_CA_revenue_M,release_date,wins,nominations,aggregated_score,cumulative_worldwide_gross,main_genre,profit
0,Creed III,2023,PG,116.0,"[['[""[\'Action\'""', '""\'Drama\'""', '""\'Sport\'...",Michael B. Jordan,"Michael B. Jordan, Tessa Thompson, Jonathan Ma...",Adonis has been thriving in both his career an...,"[['[""[\'United States\']""]']]",28 nominations,...,English,75.0,271.62,2023-03-02,0,28,7.0,276.15,"['[""[\'Action\'""'",201.15
1,Avatar: The Way of Water,2022,PG,192.0,"[['[""[\'Action\'""', '""\'Adventure\'""', '""\'Fan...",James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",Jake Sully lives with his newfound family form...,"[['[""[\'United States\']""]']]",Won 1 Oscar. 75 wins & 150 nominations total,...,English,460.0,2316.79,2022-12-15,76,150,7.1,2320.25,"['[""[\'Action\'""'",1860.25
2,The Super Mario Bros. Movie,2023,PG,92.0,"[['[""[\'Animation\'""', '""\'Adventure\'""', '""\'...",Aaron Horvath,"Chris Pratt, Anya Taylor-Joy, Charlie Day",A plumber named Mario travels through an under...,"[['[""[\'United States\'""', ' "" \' Japan\']""]']]",2 wins & 47 nominations,...,English,100.0,724.46,2023-04-05,2,47,5.8,1361.99,"['[""[\'Animation\'""'",1261.99
3,Mummies,2023,PG,88.0,"[['[""[\'Animation\'""', '""\'Adventure\'""', '""\'...",Juan Jesús García Galocha,"Óscar Barberán, Ana Esther Alborg, Luis Reina",It follows three mummies as they end up in pre...,"[['[""[\'Spain\'""', ' "" \' United States\']""]']]",3 nominations,...,"Spanish, Castilian",12.3,34.20,2023-01-05,0,3,5.9,54.48,"['[""[\'Animation\'""'",42.18
4,Supercell,2023,PG,100.0,"[['[""[\'Action\'""', '""\'Adventure\'""', '""\'Dra...",Herbert James Winterstern,"Skeet Ulrich, Anne Heche, Daniel Diemer",A teenage boy runs away to follow in the foots...,"[['[""[\'United States\']""]']]",3 wins & 1 nomination,...,English,77.0,340.94,2023-03-17,3,1,4.4,0.07,"['[""[\'Action\'""'",-76.93

In [22]:
df_original = pd.read_csv('imdb_movies.csv')

In [23]:
# Define a function to clean the malformed strings
import ast

def clean_column_data(col):
    # Try to safely evaluate the string, remove extra brackets and escape characters
    try:
        return str(ast.literal_eval(col)).replace("\\", "").replace("[", "").replace("]", "").replace("'", "").replace('"', '').strip()
    except:
        # In case of evaluation issues, return the original but cleaned version
        return str(col).replace("\\", "").replace("[", "").replace("]", "").replace("'", "").replace('"', '').strip()

# Apply the function to clean the 'genre', 'main_genre', and 'country' columns
df_clean3['genre'] = df_clean3['genre'].apply(clean_column_data)
df_clean3['main_genre'] = df_clean3['main_genre'].apply(clean_column_data)
df_clean3['country'] = df_clean3['country'].apply(clean_column_data)

# Display the cleaned version of the columns
df_clean3[['genre', 'main_genre', 'country']].head()

                          genre main_genre                   country
0          Action, Drama, Sport     Action             United States
1    Action, Adventure, Fantasy     Action             United States
2  Animation, Adventure, Comedy  Animation  United States,     Japan
3  Animation, Adventure, Comedy  Animation  Spain,     United States
4      Action, Adventure, Drama     Action             United States

In [24]:
df_clean3.head()

,title,year,rated,runtime,genre,director,actors,plot,country,awards,...,languages,budget_M,US_CA_revenue_M,release_date,wins,nominations,aggregated_score,cumulative_worldwide_gross,main_genre,profit
0,Creed III,2023,PG,116.0,"Action, Drama, Sport",Michael B. Jordan,"Michael B. Jordan, Tessa Thompson, Jonathan Ma...",Adonis has been thriving in both his career an...,United States,28 nominations,...,English,75.0,271.62,2023-03-02,0,28,7.0,276.15,Action,201.15
1,Avatar: The Way of Water,2022,PG,192.0,"Action, Adventure, Fantasy",James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",Jake Sully lives with his newfound family form...,United States,Won 1 Oscar. 75 wins & 150 nominations total,...,English,460.0,2316.79,2022-12-15,76,150,7.1,2320.25,Action,1860.25
2,The Super Mario Bros. Movie,2023,PG,92.0,"Animation, Adventure, Comedy",Aaron Horvath,"Chris Pratt, Anya Taylor-Joy, Charlie Day",A plumber named Mario travels through an under...,"United States, Japan",2 wins & 47 nominations,...,English,100.0,724.46,2023-04-05,2,47,5.8,1361.99,Animation,1261.99
3,Mummies,2023,PG,88.0,"Animation, Adventure, Comedy",Juan Jesús García Galocha,"Óscar Barberán, Ana Esther Alborg, Luis Reina",It follows three mummies as they end up in pre...,"Spain, United States",3 nominations,...,"Spanish, Castilian",12.3,34.20,2023-01-05,0,3,5.9,54.48,Animation,42.18
4,Supercell,2023,PG,100.0,"Action, Adventure, Drama",Herbert James Winterstern,"Skeet Ulrich, Anne Heche, Daniel Diemer",A teenage boy runs away to follow in the foots...,United States,3 wins & 1 nomination,...,English,77.0,340.94,2023-03-17,3,1,4.4,0.07,Action,-76.93

In [25]:
df_clean3["genre"] = df_clean3['genre'].str.split(',').apply(lambda x: [genre.strip() for genre in x] if isinstance(x, list) else x)
df_clean3["genre"]

0                          [Action, Drama, Sport]
1                    [Action, Adventure, Fantasy]
2                  [Animation, Adventure, Comedy]
3                  [Animation, Adventure, Comedy]
4                      [Action, Adventure, Drama]
                          ...
7090                     [Comedy, Romance, Sport]
7091               [Animation, Action, Adventure]
7092                              [Comedy, Drama]
7093    [Action, Crime, Horror, Sci-Fi, Thriller]
7094               [Animation, Adventure, Comedy]
Name: genre, Length: 7095, dtype: object

In [26]:
df_clean3['country'] = df_clean3['country'].str.split(',')
df_clean3['country']

0                                         [United States]
1                                         [United States]
2                             [United States,      Japan]
3                             [Spain,      United States]
4                                         [United States]
                              ...
7090    [United Kingdom,      Germany,      United Sta...
7091                                              [Japan]
7092                                      [United States]
7093                                   [USA,      Canada]
7094                                      [United States]
Name: country, Length: 7095, dtype: object

In [29]:
df_clean3['country'] = df_clean3['country'].apply(lambda x: [country.strip() for country in x] if isinstance(x, list) else x)
df_clean3['country']

0                                [United States]
1                                [United States]
2                         [United States, Japan]
3                         [Spain, United States]
4                                [United States]
                          ...
7090    [United Kingdom, Germany, United States]
7091                                     [Japan]
7092                             [United States]
7093                               [USA, Canada]
7094                             [United States]
Name: country, Length: 7095, dtype: object

In [30]:
df_clean3.year.unique()

array(['2023', '2022', '2004', '2017', '2019', '2009', '2014', '2021',
       '2018', '2015', '2016', '2020', '2005', '2001', '2002', '2012',
       '2010', '2007', '2011', '2008', '2003', '1995', '1997', '2006',
       '2013', '1998', '2000', '1999', '1996'], dtype=object)

In [36]:
df_clean3.imdb_votes = df_clean3.imdb_votes.apply(lambda x: int(x.replace(",", "")) if isinstance(x, str) else x)
df_clean3.imdb_votes

0        95684.0
1       509749.0
2       246752.0
3         9366.0
4         3251.0
          ...
7090     55340.0
7091      5632.0
7092     50036.0
7093      5007.0
7094       115.0
Name: imdb_votes, Length: 7095, dtype: float64

In [37]:
df_clean3.head()

,title,year,rated,runtime,genre,director,actors,plot,country,awards,...,languages,budget_M,US_CA_revenue_M,release_date,wins,nominations,aggregated_score,cumulative_worldwide_gross,main_genre,profit
0,Creed III,2023,PG,116.0,"[Action, Drama, Sport]",Michael B. Jordan,"Michael B. Jordan, Tessa Thompson, Jonathan Ma...",Adonis has been thriving in both his career an...,[United States],28 nominations,...,English,75.0,271.62,2023-03-02,0,28,7.0,276.15,Action,201.15
1,Avatar: The Way of Water,2022,PG,192.0,"[Action, Adventure, Fantasy]",James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",Jake Sully lives with his newfound family form...,[United States],Won 1 Oscar. 75 wins & 150 nominations total,...,English,460.0,2316.79,2022-12-15,76,150,7.1,2320.25,Action,1860.25
2,The Super Mario Bros. Movie,2023,PG,92.0,"[Animation, Adventure, Comedy]",Aaron Horvath,"Chris Pratt, Anya Taylor-Joy, Charlie Day",A plumber named Mario travels through an under...,"[United States, Japan]",2 wins & 47 nominations,...,English,100.0,724.46,2023-04-05,2,47,5.8,1361.99,Animation,1261.99
3,Mummies,2023,PG,88.0,"[Animation, Adventure, Comedy]",Juan Jesús García Galocha,"Óscar Barberán, Ana Esther Alborg, Luis Reina",It follows three mummies as they end up in pre...,"[Spain, United States]",3 nominations,...,"Spanish, Castilian",12.3,34.20,2023-01-05,0,3,5.9,54.48,Animation,42.18
4,Supercell,2023,PG,100.0,"[Action, Adventure, Drama]",Herbert James Winterstern,"Skeet Ulrich, Anne Heche, Daniel Diemer",A teenage boy runs away to follow in the foots...,[United States],3 wins & 1 nomination,...,English,77.0,340.94,2023-03-17,3,1,4.4,0.07,Action,-76.93

In [41]:
df = df_clean3.copy()

,title,year,rated,runtime,genre,director,actors,plot,country,awards,...,languages,budget_M,US_CA_revenue_M,release_date,wins,nominations,aggregated_score,cumulative_worldwide_gross,main_genre,profit
59,Avatar,2009,PG,162.0,"[Action, Adventure, Fantasy]",James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",A paraplegic Marine dispatched to the moon Pan...,"[United States, United Kingdom]",Won 3 Oscars. 91 wins & 131 nominations total,...,English,237.0,2923.71,2009-12-17,94,131,8.10,2923.71,Action,2686.71
197,Avengers: Endgame,2019,PG,181.0,"[Action, Adventure, Drama]",Anthony Russo,"Robert Downey Jr., Chris Evans, Mark Ruffalo",After the devastating events of Avengers: Infi...,[United States],Nominated for 1 Oscar. 70 wins & 133 nominatio...,...,English,400.0,2794.73,2019-04-24,70,133,8.10,2799.44,Action,2399.44
265,Titanic,1997,PG,194.0,"[Drama, Romance]",James Cameron,"Leonardo DiCaprio, Kate Winslet, Billy Zane",A seventeen-year-old aristocrat falls in love ...,"[United States, Mexico]",Won 11 Oscars. 126 wins & 83 nominations total,...,English,200.0,2222.99,1997-12-18,137,83,7.70,2264.75,Drama,2064.75
1,Avatar: The Way of Water,2022,PG,192.0,"[Action, Adventure, Fantasy]",James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",Jake Sully lives with his newfound family form...,[United States],Won 1 Oscar. 75 wins & 150 nominations total,...,English,460.0,2316.79,2022-12-15,76,150,7.10,2320.25,Action,1860.25
92,Avengers: Infinity War,2018,PG,149.0,"[Action, Adventure, Sci-Fi]",Anthony Russo,"Robert Downey Jr., Chris Hemsworth, Mark Ruffalo",The Avengers and their allies must be willing ...,"[United States, Norway]",Nominated for 1 Oscar. 48 wins & 81 nomination...,...,English,300.0,2048.36,2018-04-25,48,81,7.60,2052.42,Action,1752.42
67,Spider-Man: No Way Home,2021,PG,148.0,"[Action, Adventure, Fantasy]",Jon Watts,"Tom Holland, Zendaya, Benedict Cumberbatch","With Spider-Man's identity now revealed, Peter...",[United States],Nominated for 1 Oscar. 35 wins & 71 nomination...,...,English,200.0,1910.05,2021-12-16,35,71,7.65,1922.62,Action,1722.62
589,Jurassic World,2015,PG,124.0,"[Action, Adventure, Sci-Fi]",Colin Trevorrow,"Chris Pratt, Bryce Dallas Howard, Ty Simpkins","A new theme park, built on the original site o...","[United States, Canada]",15 wins & 58 nominations,...,English,215.0,1669.96,2015-06-11,15,58,6.40,1671.54,Action,1456.54
55,Top Gun: Maverick,2022,PG,130.0,"[Action, Drama]",Joseph Kosinski,"Tom Cruise, Jennifer Connelly, Miles Teller",The story involves Maverick confronting his pa...,[United States],Won 1 Oscar. 108 wins & 235 nominations total,...,English,170.0,1481.37,2022-05-26,109,235,8.00,1495.70,Action,1325.70
404,Furious 7,2015,PG,137.0,"[Action, Crime, Thriller]",James Wan,"Vin Diesel, Paul Walker, Dwayne Johnson",Deckard Shaw seeks revenge against Dominic Tor...,"[United States, China, Japan, Canada, United A...",36 wins & 36 nominations,...,English,190.0,1514.55,2015-04-02,36,36,6.90,1515.34,Action,1325.34
323,Frozen II,2019,PG,103.0,"[Animation, Adventure, Comedy]",Chris Buck,"Kristen Bell, Idina Menzel, Josh Gad","Anna, Elsa, Kristoff, Olaf and Sven leave Aren...","[Japan, United States]",Nominated for 1 Oscar. 19 wins & 92 nomination...,...,English,150.0,1437.86,2019-12-28,19,92,6.60,1453.68,Animation,1303.68

In [44]:
df_most_profit1.shape

(10, 24)